<!DOCTYPE html>
<html>
  <head>
    <title>ATCS | Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
  </head>
  <body>
    <nav class="navbar navbar-nav">
      <a class="navbar-brand" href="#">Roomer</a>
    </nav>
    <div class="container">
      <h1>Welcome back to Roomer</h1>
      <form method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <a href="/profile" class="login-button">Login</button>
        <a href="/signup" class="new-account">Create a New Account</a>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <p>{{ msg }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
   </body>
</html>