<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles/matches.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-nav">
        <a class="navbar-brand" href="#">Roomer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="navbar-items matches" href="#">Matches</a>
            </li>
            <li class="nav-item">
              <a class="navbar-items" href="#">Profile</a>
            </li>
          </ul>
        </div>
      </nav>
    <main>
      <header>
        <h1 class="matches-title">Your Matches</h1>
      </header>
      <div class="match-container">
        <div class="match-box">
          <img src="https://randomuser.me/api/portraits/women/42.jpg" class="profile-pic">
          <div class="match-info">
            <h2 class="match-name">Jane Doe, 25</h2>
            <h4>Female</h4>
            <p class="match-bio">Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus arcu ut arcu tristique, nec sagittis lectus pharetra.</p>
          </div>
        </div>
        <div class="match-box">
          <img src="https://randomuser.me/api/portraits/men/65.jpg" class="profile-pic">
          <div class="match-info">
            <h2 class="match-name">John Smith</h2>
            <h4>Male</h4>
            <p class="match-bio">Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus arcu ut arcu tristique, nec sagittis lectus pharetra.</p>
          </div>
        </div>
        <div class="match-box">
          <img src="https://randomuser.me/api/portraits/women/32.jpg" class="profile-pic">
          <div class="match-info">
            <h2 class="match-name">Jessica Johnson</h2>
            <h4>Female</h4>
            <p class="match-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus arcu ut arcu tristique, nec sagittis lectus pharetra.</p>
          </div>
        </div>
        <div class="match-box">
          <img src="https://randomuser.me/api/portraits/men/77.jpg" class="profile-pic">
          <div class="match-info">
            <h2 class="match-name">William Thompson</h2>
            <h4>Male</h4>
            <p class="match-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus arcu ut arcu tristique, nec sagittis lectus pharetra.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>