<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    <link rel="stylesheet" type="text/css" href="../static/styles/profile.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-nav">
        <a class="navbar-brand" href="#">Roomer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="navbar-items matches" href="/matches">Matches</a>
            </li>
            <li class="nav-item">
              <a class="navbar-items" href="/profile">Profile</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container profile-settings">
        <div>
          <img src="https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/field_blog_entry_images/2018-09/shutterstock_648907024.jpg?itok=7lrLYx-B" alt="Profile Picture" class="profile-picture">
          <div class="user-info">
            <h1 class="user-name">{{ user.name }}</h1>
            <p class="user-gender">{{ user.gender }}</p>
          </div>
        </div>
       </div>
       <div class="centered-container">
        <form>
            <div class="bio-uni">
              <label for="bio">University:</label>
              <label for="bio">{{ user.university }}</label>
                </div>
            <div class="bio-uni">
                <label for="bio">Bio:</label>
                <label for="bio">{{ user.bio }}</label>
            </div>
            <div>
                <label for="interests" class="interest-header">Interests:</label>
                {% block content %}
                <ul>
                <ul class="interest">Sports: {% if user.sports %}Yes{% else %}No{% endif %}</ul>
                <ul class="interest">Music: {% if user.music %}Yes{% else %}No{% endif %}</ul>
                <ul class="interest">Traveling: {% if user.traveling %}Yes{% else %}No{% endif %}</ul>
                <ul class="interest">Reading: {% if user.sports %}Yes{% else %}No{% endif %}</ul>
                <ul class="interest">Art: {% if user.music %}Yes{% else %}No{% endif %}</ul>
                <ul class="interest">Dance: {% if user.traveulng %}Yes{% else %}No{% endif %}</ul>
                <ul class="interest">Video Games: {% if user.sports %}Yes{% else %}No{% endif %}</ul>
                <ul class="interest">Working Out: {% if user.music %}Yes{% else %}No{% endif %}</ul>
                <ul class="interest">Cooking: {% if user.traveling %}Yes{% else %}No{% endif %}</ul>
                {% endblock %}
                </div>
        </form>
        <a href="/logout">Logout</a>
       </div>

  
        
      
      
      
      
      
      